/* src/estilos/Bloc.css */
.bloc-container {
  display: flex;
  height: 100vh;
  background: linear-gradient(to bottom, #fff7ad, #ffa9f9); /* Degradado de colores pastel */

  overflow: hidden; /* Evita el desplazamiento en el contenedor principal */
}

.bloc-sidebar {
  width: 200px; /* Ancho fijo para la barra lateral */
  background-color: #ebd4e1;
  color: #080808;
  padding: 20px;
  flex-shrink: 0; /* Evita que la barra lateral se reduzca */
}

.bloc-sidebar h4 {
  margin-top: 50px;
}

.bloc-sidebar ul {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.bloc-sidebar li {
  margin: 10px 0;
  cursor: pointer;
}

.bloc-sidebar .add-note {
  margin-top: 20px;
  padding: 10px;
  background-color: #a623c0;
  cursor: pointer;
  color: rgb(235, 223, 223);
  border: none;
  border-radius: 4px;
  font-size: 16px; 
}

.add-note:hover {
  background-color: #635089; /* Color del botón al pasar el mouse */
}


.main-content {
  flex: 1;
  padding: 20px;
  overflow-y: auto; /* Permite el desplazamiento vertical en el contenido principal */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.logo h1 {
  margin: 0;
}

.user-info p {
  margin: 0;
  font-size: 16px;
  color: #de1b66;
}

.notes {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.notes-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.note {
  width: calc(33.333% - 20px);
  max-width: 300px; /* Ancho máximo de la nota */
  max-height: 200px; /* Alto máximo de la nota */
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* Oculta el contenido que excede el tamaño */
  text-overflow: ellipsis; /* Añade puntos suspensivos al final del contenido */
}

.note-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.note-header h3 {
  margin: 0;
  font-size: 18px;
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  overflow: hidden; /* Oculta el contenido que excede el tamaño */
  text-overflow: ellipsis; /* Añade puntos suspensivos al final del contenido */
}

.note-actions button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.note-actions button svg {
  width: 24px;
  height: 24px;
  fill: #06080b; /* Color del icono */
}

.note-actions button:hover svg {
  fill: #bd558b; /* Cambia el color del icono al pasar el ratón (opcional) */
}


.note p {
  margin-top: 10px;
  font-size: 14px;
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  overflow: hidden; /* Oculta el contenido que excede el tamaño */
  text-overflow: ellipsis; /* Añade puntos suspensivos al final del contenido */
}


textarea {
  width: 100%;
  height: 100px;
  margin-top: 10px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.bloc-sidebar li {
  margin: 10px 0;
  cursor: pointer;
  display: flex;  /* Permite que el icono y el texto se alineen en línea */
  align-items: center; /* Centra verticalmente el icono y el texto */
  font-size: 16px; /* Tamaño de la fuente del texto */
  color: #312b2b; /* Color del texto */
}

.bloc-sidebar li svg {
  margin-right: 10px; /* Espaciado entre el icono y el texto */
  fill: #2d012a; /* Cambia el color del icono a blanco (puedes ajustar este valor) */
  width: 24px; /* Ancho del icono */
  height: 24px; /* Alto del icono */
}

.logo-container {
  text-align: center; /* Centrar el logo en el contenedor */
  margin-bottom: 20px; /* Agrega espacio entre el logo y el resto del contenido */
}

.logo {
  width: 200px; /* Ajusta el tamaño del logo según lo que necesites */
  height: auto; /* Mantén las proporciones del logo */
  
}



