/* Estilos globales */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif; /* Usa una fuente limpia */
  background-color: #f0f0f0;
}

/* Contenedor principal del login */
.login-container {
  display: flex;
  height: 100vh; /* La vista debe ocupar todo el alto de la pantalla */
}

/* Sección izquierda */
.left-section {
  background: linear-gradient(to bottom, #fff7ad, #ffa9f9); /* Degradado de colores pastel */
  flex: 1; /* Ocupa la mitad izquierda */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #4a4a4a;
  padding: 0 30px;
}

.left-section h1 {
  font-size: 4rem;
  font-family: 'Pacifico', cursive; /* Fuente manuscrita */ 
  color: #817bad; /* Color púrpura fuerte para "NOTAS" */
}



.left-section h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

/* Sección derecha */
.right-section {
  background-color: #d2daf6; /* Color de fondo suave */
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.right-section h2 {
  font-size: 2.5rem;
  color: #333;
}

.right-section span {
  font-size: 2.5rem; /* Tamaño grande para el emoji de saludo */
}

.login-form {
  width: 100%;
  max-width: 350px;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  font-size: 1rem;
  margin-bottom: 8px;
  display: block;
  color: #000000; /* Color gris para el texto */
}

.input-group input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
  background-color: #f0f0f0;
  transition: background-color 0.3s ease;
}

.input-group input:focus {
  outline: none;
  background-color: #fff; /* Resaltar el input cuando está activo */
}

.login-btn {
  width: 100%;
  padding: 12px;
  background-color: #817bad; /* Botón con el color púrpura */
  border: none;
  color: #fff;
  font-size: 1rem;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-btn:hover {
  background-color: #5a4fd0; /* Oscurecer el color del botón en hover */
}

p {
  margin-top: 20px;
  color: #070809;
}

p a {
  color: #715aff;
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}
